[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
daiquiri = "*"
pipenv = "*"
toml = "*"
gitpython = "*"

[dev-packages]
pylint = "*"
pytest = "*"
"autopep8" = "*"
