[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pipenv = "==2020.11.15"
requests = "*"
toml = "*"
"delegator.py" = "*"
semver = "*"
thoth-common = "*"
thamos = "*"
daiquiri = "*"
sentry-sdk = "*"
thoth-glyph = "*"
GitPython = ">=3.1.0"
PyYAML = "*"
typing-extensions = "*"
ogr = "*"
fasttext = "==0.9.1"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
pylint = "*"

[requires]
python_version = "3.8"
