[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pipenv = "*"
requests = "*"
toml = "*"
"delegator.py" = "*"
gitpython = ">=3.1.0"
pyyaml = "*"
semver = "*"
thoth-common = "*"
thamos = "*"
thoth-sourcemanagement = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
pylint = "*"
coala = "*"
pycodestylebear = "*"
yamllintbear = "*"
pydocstylebear = "*"
filenamebear = "*"

[requires]
python_version = "3.6"
