-e git+https://gitlab.com/gitmate/open-source/IGitt.git@master#egg=igitt

click
daiquiri
delegator.py
pipenv
pyyaml
requests>=2.22.0  # through urllib3>=1.24.2 due to CVE-2019-11324
semver
sentry-sdk
thoth-common
toml
